$baseline: 24px;

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

footer {
    background: lightblue;
    padding: $baseline;

    hr{
        display: none;
    }
}

main {
    padding: $baseline;
}
