<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doctrine ORM Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            Bike shop
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <hr>
            All rights
        </footer>
    </body>
</html>
